{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#        {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>About</title>#}
{#      <style>#}
{#        a{#}
{#            color: white;#}
{#            text-decoration: none;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<button type="button" class="btn btn-danger"><a href="{% url 'homepage' %}">Home</a></button>#}
{#<button type="button" class="btn btn-success"><a href="{% url 'about' %}">About</a></button>#}
{#<button type="button" class="btn btn-secondary"><a href="{% url 'gallery' %}">Gallery</a></button>#}
{##}
{#<div class="container-fluid bg-info text-center p-1">#}
{#    <h2>#}
{#    This is about page.#}
{#</h2>#}
{#</div>#}
{##}
{##}
{#<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>#}
{#</body>#}
{#</html>#}