{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#    <meta charset="UTF-8">#}
{#    <title>gallery</title>#}
{#      <style>#}
{#        a{#}
{#            color: white;#}
{#            text-decoration: none;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<button type="button" class="btn btn-danger"><a href="{% url 'homepage' %}">Home</a></button>#}
{#<button type="button" class="btn btn-success"><a href="{% url 'about' %}">About</a></button>#}
{#<button type="button" class="btn btn-secondary"><a href="{% url 'gallery' %}">Gallery</a></button>#}
{#<div class="container-fluid text-bg-info text-center">#}
{#    <h2>This is the gallery page.</h2>#}
{#</div>#}
{##}
{##}
{#<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <title>Gallery</title>
    <h2>
    This is Gallery page.
    </h2>
    <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi enim iste
          nemo omnis optio provident? Autem consequatur culpa distinctio dolore
          exercitationem id, quas quasi qui quis saepe similique, vitae voluptatibus.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio harum
          odio quod sit ut? Aut distinctio, dolor doloremque eum eveniet laboriosam non
          nulla placeat. Asperiores consequuntur deleniti quis saepe ut?
    </p>

{% endblock %}