{#<!doctype html>#}
{#<html lang="en">#}
{#<head>#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>HOME</title>#}
{#    <style>#}
{#        a{#}
{#            color: white;#}
{#            text-decoration: none;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<button type="button" class="btn btn-danger"><a href="{% url 'homepage' %}">Home</a></button>#}
{#<button type="button" class="btn btn-success"><a href="{% url 'about' %}">About</a></button>#}
{#<button type="button" class="btn btn-secondary"><a href="{% url 'gallery' %}">Gallery</a></button>#}
{#<div class="container-fluid bg-info text-center">#}
{#    <h2>Welcome to Django web-framework</h2>#}
{#    <p>#}
{#        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores explicabo rem, reprehenderit rerum sit vitae#}
{#        voluptatibus. Accusantium adipisci dolorem fugit itaque iure iusto odio quod, recusandae rem sed tempora veritatis.#}
{#    </p>#}
{#</div>#}
{##}
{#<scrip scr="{% static 'js/bootstrap.bundle.min.js' %}"></scrip>#}
{#</body>#}
{#</html>#}

{% extends 'layout.html' %}
{% load static %}

{% block body %}

{% endblock %}